#players{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

#players .player{
    text-align: center;
    border: 1px solid lightseagreen;
    width: 30%;
    padding: 20px;
}

#players .player .name{
    font-weight: 700;
}

#players .player .score{
    font-size:  2rem;
}